@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.inner {
  width: 1060px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  font-size: 16px;
}

.promo-section {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.main-logo {
  width: 1200px;
  height: auto;
}

.start-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.cause-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.first-list-image {
  display: flex;
  width: 800px;
  height: 384px;
  align-items: center;
}

.advantages-list-house {
  margin: 0;
  padding: 0;
}

.advantages-title-white{
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.advantages-description-blue {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.advantages-description-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.advantages-list-house {
  text-align: center;
}

.advantages-item-pale {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  width: 400px;
  height: 384px;
  flex-direction: column;
  align-items: center;
}

.semi-color {
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
  display: flex;
  width: 400px;
  height: 384px;
  flex-direction: column;
  align-items: center;
}

.advantages-item-white {
  background: #ffffff;
  text-align: center;
  display: flex;
  width: 400px;
  height: 384px;
  flex-direction: column;
  align-items: center;
}

.advantages-title-blue {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  background: #82B3D3;
  text-align: center;
  align-items: center;
}

.advantages-description-number {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hotel-title {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: black;
}

.button-hotel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  background: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 94px 398px auto 398px;
  width: 404px;
  height: 36px;
}

.sub-info {
  text-align: center;
  color: #ffffff;
  width: 472px;
  height: 52px;
  margin: 29px 362px auto 362px;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.subscription {
  background-image: url("../images/footer-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
  height: 411px;
}

.contants-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  display: block;
  width: 115px;
  height: 34px;
  margin: 48px 70px 38px auto;
}


/*Catalog*/
.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  font-size: 16px;
}

.inner-header-title{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  position: absolute;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.filter {
  background-image: url("../images/hotel-filter-background.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.button-second{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
}

.button-clear {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.hotels-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}

.product-card-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 160px;
  font-size: 18px;
  line-height: 48px;
  top: 50px;
  color: #333333;
}

.product-card-price {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}

.hotel-page {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscription-title-catalog {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-info-catalog {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.visually-hidden {
  visibility: hidden;
}

.page-footer-container {
  position: absolute;
  height: 120px;
  left: 40px;
  right: 40px;
}

.footer-social-list {
  width: 142px;
  height: 40px;
  top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contants-phone {
  font-family: "PT Sans", sans-serif;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
}

.footer-logo {
  display: block;
  width: 115px;
  height: 34px;
  margin: 48px 70px 38px auto;
}
